<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NAVBAR</title>
</head>
<body>

<div class="container" th:fragment="content">


    <form method="GET" class="form-inline" style="display: flex; justify-content: space-between">
        <div>
            <span id="filterby" style="margin: 0px 10px">Filter by </span>
            <select name="category" class="form-control" style="margin: 0px 10px">
                <option th:each="prodCat,iterStat : ${allProdCat}" th:text="${prodCat.getName()}"
                        th:value="${prodCat.getName()}" th:selected="${prodCat.getName() == selectedCategory}">Default
                </option>
            </select>
            <select name="supplier" class="form-control" style="margin: 0px 10px">
                <option th:each="supp,iterStat : ${allSupp}" th:text="${supp.getName()}" th:value="${supp.getName()}"
                        th:selected="${supp.getName() == selectedSupplier}">Default
                </option>
            </select>
            <input type="submit" class="btn btn-success" id="filtersubmit" style="margin: 0px 10px">
        </div>

        <a href="/shopping_cart" id="shoppingcartlink" th:value="${sizeOfCart}" style="margin-right: 100px"><i class="fas fa-shopping-cart fa-2x"
                                                                                   id="shoppingcarticon"></i></a>
    </form>

    <div id="products" class="row list-group">
        <div class="container">
            <div class="row">
                <!--<div class="container-fluid">-->
                <!--d-flex align-items-stretch-->
                <div class="col-sm-6 col-md-4 d-flex card-group" th:each="prod,iterStat : ${products}">
                    <!--card-product-->
                    <div class="card card-product">
                        <div class="row pl-4 pt-3 pr-4">
                            <div class="price-container pull-left col-md-8">
                                <span class="price" th:text="${prod.getPrice()}">€1,459</span>
                            </div>
                            <div class="col-md-4">
                                <a href="#" class="btn btn-success addtocart pull-right text-white" th:attr="data-prodid=${prod.getId()}">Add
                                    to cart</a>
                            </div>
                        </div>
                        <!--<div class="card-block">-->
                        <div class="card-image">
                            <a href="#">
                                <img class="img rounded" src="http://placehold.it/400x250/000/fff"
                                     th:src="'/static/img/product_' + ${prod.id} + '.jpg'" alt=""/>
                            </a>
                        </div>
                        <div class="card-body">
                            <h6 class="category text-danger">Trending</h6>
                            <h4 class="card-title">
                                <a href="#" class="card-link" th:text="${prod.name}">Dolce & Gabbana</a>
                            </h4>
                            <div class="card-description" th:text="${prod.description}">
                                Dolce & Gabbana's 'Greta' tote has been crafted in Italy from hard-wearing red
                                textured-leather.
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>


</body>
</html>