<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NAVBAR</title>
</head>
<body>

<div class="container" th:fragment="content">


    <form method="GET" class="form-inline" style="display: flex; justify-content: space-between">
        <div>
            <span id="filterby">Filter by </span>
            <select name="category" class="form-control" style="margin: 0px 20px">
                <option th:each="prodCat,iterStat : ${allProdCat}" th:text="${prodCat.getName()}"
                        th:value="${prodCat.getName()}" th:selected="${prodCat.getName() == selectedCategory}">Default
                </option>
            </select>
            <select name="supplier" class="form-control" style="margin-right: 20px">
                <option th:each="supp,iterStat : ${allSupp}" th:text="${supp.getName()}" th:value="${supp.getName()}"
                        th:selected="${supp.getName() == selectedSupplier}">Default
                </option>
            </select>
            <input type="submit" class="btn btn-success" id="filtersubmit">
        </div>

        <a href="/shopping_cart" id="shoppingcartlink" th:value="${sizeOfCart}" style="margin-right: 100px"><i class="fas fa-shopping-cart fa-2x"
                                                                                   id="shoppingcarticon"></i></a>
    </form>

    <div id="products" class="row list-group">

        <div class="item col-xs-4 col-lg-4" th:each="prod,iterStat : ${products}">
            <div class="thumbnail">
                <div class="imgcont"><img class="group list-group-image" src="http://placehold.it/400x250/000/fff"
                                          th:attr="src='/static/img/product_' + ${prod.id} + '.jpg'" alt=""/></div>
                <div class="caption">
                    <h4 class="group inner list-group-item-heading" th:text="${prod.name}">Product name</h4>
                    <p class="group inner list-group-item-text" th:text="${prod.description}">Product
                        description... </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success addtocart" th:attr="data-prodid=${prod.getId()}">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



</body>
</html>