<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NAVBAR</title>
</head>
<body>

<nav class="navbar navbar-expand-lg bg-primary" th:fragment="navbar" style="padding: 0;">
    <div class="container">
        <div class="navbar-translate">
            <a class="card-title" href="" style="font-size: large">2FAST2FURIOUS </a>
        </div>

        <div id="navbar-login" style="display: block;">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <button class="btn btn-primary" onclick="openRegisterModal(); $('#signupbox').hide(); $('#loginbox').show()" style="padding: 5px 15px;">
                        <p style="font-size: medium">Log In</p>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-primary" onClick="openRegisterModal(); $('#loginbox').hide(); $('#signupbox').show()" style="padding: 5px 15px;">
                        <p style="font-size: medium">Register</p>
                    </button>
                </li>
            </ul>
        </div>
        <div id="navbar-logout-basic" style="display: none;">
            <p class="user-name-label"></p>
            <button class="btn btn-primary" href="#" onClick="signOutBasic();" style="padding: 5px 15px;">
                <p style="font-size: medium">Sign out</p>
            </button>
        </div>
        <div id="navbar-logout-google" style="display: none;">
            <p class="user-name-label"></p>
            <img id="gmail-profile-image" src="" height="40px" style="border-radius: 50%">
            <button class="btn btn-primary" href="#" onclick="signOutGoogle();" style="padding: 5px 15px;">
                <p style="font-size: medium">Sign out</p>
            </button>
        </div>
    </div>
</nav>


<div class="modal fade login" id="loginModal" th:fragment="loginmodal">
    <div class="modal-dialog login animated">
        <div class="modal-content">
            <div class="container">
                <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-12 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="panel panel-info" >
                        <div class="panel-heading">
                            <div class="panel-title">Sign In</div>
                        </div>

                        <div style="padding-top:30px" class="panel-body" >

                            <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                            <div id="loginform">

                                <div style="margin-bottom: 25px" class="input-group">
                                    <!--<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>-->
                                    <span class="input-group-addon" style="background-color: #f96332; padding: 10px; border-radius: 20px 0px 0px 20px"><i class="fas fa-user" aria-hidden="true" style="margin-top: 5px; color: white"></i></span>
                                    <input id="login-username" type="text" class="form-control" name="username" value="" placeholder="username or email">
                                </div>

                                <div style="margin-bottom: 25px" class="input-group">
                                    <span class="input-group-addon" style="background-color: #f96332; padding: 10px; border-radius: 20px 0px 0px 20px"><i class="fas fa-key" aria-hidden="true" style="margin-top: 5px; color: white;"></i></span>
                                    <input id="login-password" type="password" class="form-control" name="password" placeholder="password">
                                </div>


                                <div style="margin-top:10px" class="form-group">
                                    <!-- Button -->

                                    <div class="col-sm-12 controls">
                                        <button id="btn-login" href="#" class="col-sm-6 btn btn-success">Login  </button>
                                        <div id="btn-googlelogin"></div>
                                        <script>
                                            function renderButton() {
                                                gapi.signin2.render('btn-googlelogin', {
                                                    'scope': 'profile email',
                                                    'longtitle': true,
                                                    'width': 206,
                                                    'theme': 'dark',
                                                    'onsuccess': onSignIn
                                                });
                                            }
                                        </script>
                                        <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-md-12 control">
                                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                            Don't have an account!
                                            <a href="#" onClick="flipToRegister()">
                                                Sign Up Here
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <div id="signupbox" style="display:none; margin-top:50px" class="mainbox col-md-12 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">Sign Up</div>
                            <div style="float:right; font-size: 100%; position: relative; top:-20px"><a id="signinlink" href="#" onclick="flipToLogin()">Sign In</a></div>
                        </div>
                        <div class="panel-body" >

                            <div style="display:none; margin-top: 15px" id="signup-alert" class="alert alert-danger col-sm-12"></div>

                            <form id="signupform" class="form-horizontal" role="form">


                                <div class="input-group">
                                    <label class="col-md-12 control-label">Email</label>
                                    <div class="col-md-12">
                                        <input id="signup-email" type="text" class="form-control" name="email" placeholder="Email Address">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-12 control-label">Username</label>
                                    <div class="col-md-12">
                                        <input id="signup-username" type="text" class="form-control" name="firstname" placeholder="Username">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12 control-label">Password</label>
                                    <div class="col-md-12">
                                        <input id="signup-password" type="password" class="form-control" name="passwd" placeholder="Password">
                                    </div>
                                </div>
                                <div class="form-check" style="margin: 10px 20px">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="check-terms">
                                        <span class="form-check-sign"></span>
                                        I accept the <a href="#">Terms and conditons</a>
                                    </label>
                                </div>
                                <div class="form-check" style="margin: 10px 20px">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="check-subscribe">
                                        <span class="form-check-sign"></span>
                                        I want to subscribe to the newsletter!
                                    </label>
                                </div>

                                <div class="form-group">
                                    <!-- Button -->
                                    <div class="col-md-offset-3 col-md-9">
                                        <button id="btn-signup" type="button" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp Sign Up</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>