<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NAVBAR</title>
</head>
<body>

<div class="container" th:switch="${total}" th:fragment="content">
    <h1 th:case="0">Your shoppingcart is empty :(</h1>
    <div name="notEmpty" th:case="*">
        <table class="table">
            <thead>
            <tr id="thead">
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Add more/Take out</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="prod,iterStat : ${products}">
                <td th:text="${prod.getName()}">Lenovo Phone</td>
                <td th:text="${prod.getPrice()}">100 USD</td>
                <td th:text="${prod.getQuantity()}" th:attr="data-qid=${prod.getId()}">10 pcs</td>
                <td>
                    <button th:attr="data-prodid=${prod.getId()}" type="button" class="btn btn-light inc"><i class="fas fa-caret-up"></i></button>
                    <button th:attr="data-prodid=${prod.getId()}" type="button" class="btn btn-light dec"><i class="fas fa-caret-down"></i></button>
                </td>
            </tr>
            </tbody>

        </table>
        <div id="buttoncont">
            <button class="btn btn-success" id="checkouttoggle" onclick="checkOutToggle()">Check Out</button>
            <button class="btn btn-success" id="paytoggle">Pay</button>
        </div>
        <h1 th:text="'The total of your order is '+  ${total} + ' USD'" id="total">Total</h1>
        <div id="checkout">
            <h2>Check out</h2>
            <form action="" id="checkoutform">
                <label for="name">Name</label>
                <input class="form-control" id="name" placeholder="Name" required>
                <label for="email">Email</label>
                <input class="form-control" id="email" placeholder="Email">
                <label for="phonenumber">Phonenumber</label>
                <input class="form-control" id="phonenumber" placeholder="Phonenumber">
                <h3>Shipping Address</h3>
                <div class="form-row">
                    <div class="col">
                        <label for="scountry">Country</label>
                        <input type="text" class="form-control address" placeholder="Country" id="scountry">
                    </div>
                    <div class="col">
                        <label for="scity">City</label>
                        <input type="text" class="form-control address" placeholder="City" id="scity">
                    </div>
                    <div class="col">
                        <label for="szip">Zip></label>
                        <input type="text" class="form-control address" placeholder="Zip code" id="szip">
                    </div>
                </div>
                <label for="saddress">Address</label>
                <input class="form-control" id="saddress" placeholder="Address">
                <hr>
                <h3>Billing Address</h3>
                <div class="form-row">
                    <div class="col">
                        <label for="bcountry">Country</label>
                        <input type="text" class="form-control address" placeholder="Country" id="bcountry">
                    </div>
                    <div class="col">
                        <label for="bcity">City</label>
                        <input type="text" class="form-control address" placeholder="City" id="bcity">
                    </div>
                    <div class="col">
                        <label for="bzip">Zip></label>
                        <input type="text" class="form-control address" placeholder="Zip code" id="bzip">
                    </div>
                </div>
                <label for="baddress">Address</label>
                <input class="form-control" id="baddress" placeholder="Address">
                <input type="submit" class="btn btn-success" id="checkoutsend">
                <div class="alert alert-danger" role="alert" id="checkoutdanger">
                    Something is wrong
                </div>
            </form>
            <hr>
        </div>
        <div id="pay">
            <div id="ccpay">
                <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary" id="ccbutton">Credit Card</button>
                    <button type="button" class="btn btn-secondary" id="paypalbutton">PayPal</button>
                </div>
                <div id="creditcardcont">
                    <h3>Credit Card</h3>
                    <form action="">
                        <label for="ccnum">Credit Card Number</label>
                        <input class="form-control" id="ccnum" placeholder="Credit Card Number" required>
                        <label for="ccholder">Card Holder's Name</label>
                        <input class="form-control" id="ccholder" placeholder="Card Holder's Name">
                        <!--<label for="cvc">CVC Number</label>
                        <input class="form-control" id="cvc" placeholder="CVC Number">
                        <label for="expdate">Expiry Date</label>
                        <input class="form-control" id="expdate" placeholder="Expiry Date">-->

                        <div class="col">
                            <label for="cvc">CVC Number</label>
                            <input type="text" class="form-control" placeholder="CVC Number" id="cvc">
                        </div>
                        <div class="col">
                            <label for="expdate">Expiry Date</label>
                            <input type="text" class="form-control" placeholder="YY/MM/DD" id="expdate">
                        </div>
                        <br>
                        <button class="btn btn-success" id="ccsend">Send</button>
                    </form>
                </div>
            </div>
            <div id="paypal">
                <img src="/static/img/paypal.png" alt="">
            </div>
        </div>
        <hr style="margin-bottom: 20px">


    </div>
    <a href="/" class="btn btn-success">Back to shopping</a>


</div>


</body>
</html>