<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Shopping Cart</title>

    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/shoppingcart.css" />

    <script src="/static/js/shoppingcart.js" defer></script>


</head>
<body>
    <h1>Shopping Cart</h1>

    <div class="container" th:switch="${total}">
        <h1 th:case="0">Your shoppingcart is empty :(</h1>
        <div name="notEmpty" th:case="*">
            <table class="table">
                <thead>
                <tr id="thead">
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Add more/Take out</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="prod,iterStat : ${products}">
                    <td th:text="${prod.getName()}">Lenovo Phone</td>
                    <td th:text="${prod.getPrice()}">100 USD</td>
                    <td th:text="${prod.getQuantity()}" th:attr="data-qid=${prod.getId()}">10 pcs</td>
                    <td>
                        <button th:attr="data-prodid=${prod.getId()}" type="button" class="btn btn-light inc"><i class="fas fa-caret-up"></i></button>
                        <button th:attr="data-prodid=${prod.getId()}" type="button" class="btn btn-light dec"><i class="fas fa-caret-down"></i></button>
                    </td>
                </tr>
                </tbody>

            </table>
            <div id="buttoncont">
                <button class="btn btn-success">Check Out</button>
                <button class="btn btn-success" disabled>Pay</button>
            </div>
            <h1 th:text="'The total of your order is '+  ${total} + ' USD'" id="total">Total</h1>
            <div id="checkout">
                <h2>Check out</h2>
                <form action="" id="checkoutform">
                    <label for="name">Name</label>
                    <input class="form-control" id="name" placeholder="Name" >
                    <label for="email">Email</label>
                    <input class="form-control" id="email" placeholder="Email">
                    <label for="phonenumber">Phonenumber</label>
                    <input class="form-control" id="phonenumber" placeholder="Phonenumber">
                    <h3>Shipping Address</h3>
                    <div class="form-row">
                        <div class="col">
                            <label for="scountry">Country</label>
                            <input type="text" class="form-control address" placeholder="Country" id="scountry">
                        </div>
                        <div class="col">
                            <label for="scity">City</label>
                            <input type="text" class="form-control address" placeholder="City" id="scity">
                        </div>
                        <div class="col">
                            <label for="szip">Zip></label>
                            <input type="text" class="form-control address" placeholder="Zip code" id="szip">
                        </div>
                    </div>
                    <label for="saddress">Address</label>
                    <input class="form-control" id="saddress" placeholder="Address">
                    <hr>
                    <h3>Billing Address</h3>
                    <div class="form-row">
                        <div class="col">
                            <label for="bcountry">Country</label>
                            <input type="text" class="form-control address" placeholder="Country" id="bcountry">
                        </div>
                        <div class="col">
                            <label for="bcity">City</label>
                            <input type="text" class="form-control address" placeholder="City" id="bcity">
                        </div>
                        <div class="col">
                            <label for="bzip">Zip></label>
                            <input type="text" class="form-control address" placeholder="Zip code" id="bzip">
                        </div>
                    </div>
                    <label for="baddress">Address</label>
                    <input class="form-control" id="baddress" placeholder="Address">
                </form>
                <button class="btn btn-success" id="checkoutsend">Send</button>
                <hr>
            </div>


        </div>
        <a href="/" class="btn btn-success">Back to shopping</a>


    </div>


</body>
</html>